/* SASS Classes */

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-centered-col {
  @extend .flex-centered;
  flex-flow: column;
}

.max-size {
  flex: 1;
  height: 100%;
  width: 100%;
}

.responsive-text {
  font-size: calc((4vh + 4vw)/2);
}

/* Element Styling */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  list-style-position: inside;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, html, #root {
  @extend .max-size;
}

img {
  @extend .max-size;
  -webkit-transition: 5s;
  border-radius: 10px;
}

form {
  @extend .flex-centered-col;
  > * {
    margin: 10px;
  }
}

input {
  @extend .responsive-text;
}

input[type='text'] {
  border-radius: 10px;
  text-align: center;
  padding: 6px 12px;
  line-height: 1.42857143;
}

input[type='submit'] {
  border: none;
  background-color: none;
}

a {
  @extend .responsive-text;
  text-decoration: none;
  -webkit-transition: 0.5s;
  color: white;
  &:hover {
    color: blue;
  }
}

/* Container/Alignment Styling */

.content {
  @extend .flex-centered-col;
  @extend .max-size;
}

.box-display {
  // display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: lightgray;
  // width: 80%;
  min-width: 30%;
  min-height: 30%;
  height: 100%;
  margin: 20px;
  padding: 30px;
  overflow: auto;
  position: relative;
  -webkit-transition: 1s;
  border-radius: 10px;
}

.container-error {
  @extend .flex-centered-col;
  padding: 20px;
}

.absolutely-centered {
  @extend .flex-centered;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.compliment-container {
  @extend .flex-centered-col, .max-size;
  overflow: auto;
}

/* Navigation Styling */

.nav-wrapper {
  @extend .flex-centered;
  padding: 15px;
}

.nav-section {
  @extend .flex-centered;
}

.nav-dropdown-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 20px 0;
  padding: 15px 40px;
  -webkit-transition: 0.5s;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-dropdown {
  @extend .responsive-text;
  transform: rotate(90deg);
  -webkit-transition: 0.5s;
  box-sizing: border-box;
}

.nav-item {
  @extend .flex-centered;
  // margin-right: 30px;
  padding: 15px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

/* Individual Compliment Styling */

.compliment {
  display: flex;
  border: 4px solid lightblue;
  background-color: white;
  opacity: 1;
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
  width: 100px;
  height: 18px;
  overflow: hidden;
  word-break: break-all;
  -webkit-transition: 0.5s;
  position: relative;
  &:hover {
    box-shadow: 1px 1px 15px grey;
    overflow: auto;
  }
}

.compliment-popup {
  @extend .compliment;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}

/* Settings Styling */

.layer-one-option, .layer-two-option {
  text-align: center;
  cursor: pointer;
  margin: 20px;
  &:hover {
    color: gray;
  }
}

.settings {
  position: absolute;
  top: 15px;
  right: 20px;
  align-self: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
}

.settings-container {
  display: flex;
  -webkit-transition: 0.5s;
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 10px;
  padding: 50px;
}

#gear {
  cursor: pointer;
  -webkit-transition: 0.5s;
  &:hover {
    opacity: 0.5;
  }
}

.modal {
  @extend .flex-centered-col;
  @extend .max-size;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 30px;
  -webkit-transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 100;
}

.modal-icon {
  @extend .responsive-text;
  float: right;
  font-weight: bold;
  position: absolute;
  // top: 30px;
  // right: 5%;
  top: 2%;
  right: 5%;
  // z-index: 1;
  cursor: pointer;
}

.options-content {
  @extend .flex-centered-col;
  position: relative;
}

/* Slideshow Styling */

.slideshow-container {
  @extend .flex-centered-col;
  @extend .max-size;
  > * {
    margin: 20px;
  }
}

.slideshow-img-container {
  display: flex;
  // min-height: 400px;
  // min-width: 300px;
  min-height: fit-content;
  min-width: fit-content;
  position: relative;
}

.slideshow-img {
  position: absolute;
  -webkit-transition: 3s;
  opacity: 0;
}

.dummy-img-wide {
  opacity: 0;
  height: 30vw;
  width: 30vw;
}

.dummy-img-tall {
  opacity: 0;
  height: 30vh;
  width: 30vh;
}

.file-wrapper {
  overflow: hidden;
  position: relative;
}

input[type='file'] {  // hidden on screen
  cursor: pointer;
  display: block;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  font-size: 1000px;
  opacity: 0;
}

.shift-left {
  @extend .flex-centered;
  height: 100%;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  padding: 0 15px;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  opacity: 0;
  border-radius: 10px 0 0px 10px;
  cursor: pointer;
  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
}

.shift-right {
  @extend .shift-left;
  border-radius: 0 10px 10px 0;
  left: auto;
  right: 0;
}

.preview-img {
  height: 200px;
  width: 150px;
  box-sizing: border-box;
}

.preview-img-container {
  display: flex;
  position: relative;
  max-height: min-content;
  max-width: min-content;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  margin: 40px;
}

#remove-img {
  @extend .max-size;
  opacity: 0;
  top: 0;
  right: 0;
  left: auto;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  &:hover {
    opacity: 1;
  }
}

/* Misc Class Styling */

.submitted {
  margin: 15px;
  text-align: center;
  font-weight: bold;
}

.help {
  @extend .submitted;
}

.fake-link {
  @extend a;
  cursor: pointer;
}

.error {
  width: fit-content;
  height: fit-content;
  color: red;
  text-align: center;
}

.cross {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.more {
  cursor: pointer;
  position: absolute;
  right: 15px;
  z-index: 2;
  text-align: center;
  background-color: inherit;
  padding: 2px 8px;
}

/* Media Queries */

@media screen and (max-width: 300px) {
  .nav-section {
    flex-flow: column;
  }
}

@media screen and (max-width: 570px) {
  .box-display {
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .box-display {
    display: flex;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .help {
    font-size: calc((4vh + 4vw)/2);
  }
}